.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #121212;
  border-top: 1px solid #e7e7e7;
  color: #fff;
  gap: 25px;
}

.footer__logo {
  font-size: 1.5em;
  font-weight: bold;
}

.footer__nav {
  display: flex;
  gap: 25px;
}

.footer__link {
  text-decoration: none;
  color: #e7e7e7;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #827c73;
}

.footer__section {
  margin-left: auto;
}
