.homepage-container {
  padding: 50px;
  background-color: black;
}

.section-title {
  color: white;
  font-size: 15.5px;
  line-height: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.item-count {
  font-size: 15.5px;
  line-height: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* Sneaker Image Styles */
.shoes-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.shoes-container img {
  width: 180px; /* Increased size */
  height: auto;
  object-fit: contain;
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.shoes-container img:hover {
  transform: scale(1.1);
}

/* Hoodies container */
.hoodies-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 35px;
  width: 100%;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.hoodies-container img {
  width: 200px; /* Increased size */
  height: auto;
  object-fit: contain;
  max-width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.hoodies-container img:hover {
  transform: scale(1.1);
}
